/* src/components/Timeline.css */
body {
  font-family: "HelveticaNeueHeavy", sans-serif;

  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(-321deg, #0d0d0d44 46%, transparent 98.05%),radial-gradient(circle at 14% 105%, #00bfff1f 38%, transparent 59.05%);
}

.timelineContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.timeline {
  display: flex;
  width: 100%;
  height: 20%;
  z-index: 999;
}

.timelineSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #999;
  cursor: pointer;
  transition: opacity 0.3s ease;
  color: white;
  font-weight: bold;
  font-size: xx-large;
}

.timelineSection:hover {
  opacity: 0.8;
}

.timelineSection:last-child {
  border-right: none;
}

.seasonTimeline {
  display: flex;
  width: 100%;
  height: 20%;
  margin-bottom: 10px;
  position: relative;
  z-index: 999;
}

.seasonSection {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
  color: white;
  font-weight: bold;
}

.seasonSubtitle {
  font-size: 0.8rem;
  margin-top: 5px;
  text-align: center;
}

.seasonSection:hover {
  opacity: 0.8;
}

.zoomedView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
  width: 100%;
  height: 100vh;
  position: relative;
}

.zoomedSection {
  width: 80%;
  height: 30%;
  background-color: #fff;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('/src/assets/fabricTexture.png');
  background-repeat: repeat;
  background-size: auto;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 20px; /* add some spacing if needed */
}

.monthsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 0;
  padding: 10px 0;

}

.month {
  flex: 1;
  text-align: center;
  font-size: 1rem;
  color: #333;
  position: relative;
}

.monthDivider {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #999;
}

.edge {
  position: absolute;
  width: 10%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  color: white;
  font-weight: bold;
  z-index: 1;
  pointer-events: auto;
}


.edge.prev {
  left: 0;
}

.edge.next {
  right: 0;
}

.edge:hover {
  opacity: 1;
}


.don {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 658px;
  z-index: 1;
}

.zoomedSeasonTimeline {
  width: 80%; /* Match the width of zoomedSection */
  height: 30%; /* Adjust height as needed */
  margin-top: 20px; /* Add spacing between zoomedSection and seasonTimeline */
  position: relative;
  background-color: rgba(204, 204, 204, 0.8); /* Semi-transparent background */
}

.backButton {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  z-index: 1000;
}

.backButton:hover {
  background-color: #555;
}