/* src/components/Timeline.css */

body {
  background-image: linear-gradient(-321deg, #0d0d0d44 46%, transparent 98.05%),radial-gradient(circle at 14% 105%, #00bfff1f 38%, transparent 59.05%);
}

.timelineContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  /* background-color: #f0f0f0; */
  overflow: hidden;
}

.timeline {
  display: flex;
  width: 100%;
  height: 250px;
}

.timelineSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #999;
  cursor: pointer;
  transition: opacity 0.3s ease;
  color: white;
  font-weight: bold;
}

.timelineSection:hover {
  opacity: 0.8;
}

.timelineSection:last-child {
  border-right: none;
}

.seasonTimeline {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #ccc;
  margin-bottom: 10px; /* Space between season and year timelines */
  position: relative;
}

.seasonSection {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
  color: white;
  font-weight: bold;
}

.seasonSection:hover {
  opacity: 0.8;
}

.zoomedView {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.zoomedSection {
  flex: 1; /* Take up remaining space */
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  flex-direction: column;
}

.monthsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
}

.month {
  flex: 1;
  text-align: center;
  font-size: 1rem;
  color: #333;
  position: relative;
}

.monthDivider {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #999;
}

.edge {
  width: 10%; /* Each edge takes up 10% of the screen width */
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  color: white;
  font-weight: bold;
}

.edge.prev {
  margin-right: auto; /* Push the left edge to the far left */
}

.edge.next {
  margin-left: auto; /* Push the right edge to the far right */
}

.edge:hover {
  opacity: 1;
}

.don {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 658px; /* example width */
  z-index: 1000;
}